/* #landing_row{
    height: 70vh;
    width: 100vw;
    margin: 0;
    background-image: url(/assets/Goddess-Cafe.jpg);
    background-size: cover;
} */

#mantra_row{
    width: 100vw;
    height: 70vh;
    background-image: url(/assets/Goddess-Cafe.jpg);
    background-size: cover;
}

#mantra_col{

    width: 491px;
    height: 133px;

    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #B1B6A6;


    /* background-color: antiquewhite; */
}



#philosophy_row{

    width: 100vw;  
    height: 30vh;
    background-color: #819595;

}

#phil_title{
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #363946;
}


#philosophy_col{


}

#philosophy_container #title{
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    text-align: center;

    left: 45%;
    color: #363946;
}

 #quote{

    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    text-align: center;

    color: #363946;
} 