/* #landing_row{
    height: 70vh;
    width: 100vw;
    margin: 0;
    background-image: url(/assets/Goddess-Cafe.jpg);
    background-size: cover;
} */

hr{
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.653);
}

.container{
    width: 100vw;
}

#mantra_row{
    width: 100vw;
    height: 70vh;
    background-image: url(/assets/Goddess-Cafe.jpg);
    background-size: cover;
}

#mantra_col{

    width: 491px;
    height: 133px;

    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #B1B6A6;


    /* background-color: antiquewhite; */
}



#philosophy_row{

    width: 100vw;  
    height: 30vh;
    background-color: #819595;

}

#phil_title{
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #363946;
}

 #quote{

    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 34px;
    text-align: center;

    color: #363946;
} 



#passions_row{
    width: 100vw;  
    height: 40vh;
    background-color: #819595;
    
}

#passions_title{
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
}

#udfsa{
    height: 20%;

    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    color: #B1B6A6;


    background-image: url(/assets/CN-2019-Pic.jpg);
    background-position: 60%;
    background-size: cover;

}

#RA{

    height: 20%;

    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    color: #B1B6A6;


    background-image: url(/assets/South-Academy-Staff.JPG);
    background-position: 5%;
    background-size: cover;
}


#project_row{

    width: 100vw;
    /* height: 60vh; */

    background-color: #819595;


}

#project_title{
    width: 100%;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;

    /* background-color: #363946; */
}

/* .cus_col{
    width: 45%;
    height: 90%;
    background-color: #363946;

} */


#project_container{
    width: 100vw;
    height: 20vh;
    background-color: #819595;
}

#shell_proj{

    height: 80%;
    /* background-color: aliceblue; */
    background-image: url(/assets/c_lang.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50%;
}

#web_proj{
    height: 80%;
    /* background-color: aliceblue; */
    background-image: url(/assets/MEAN.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
}


#experience_title_row{
    width: 100vw;
    /* height: 40vh; */
    background-color: #819595;

}

#experience_title{
    width: 100%;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;

    /* background-color: #363946; */
}

#experience_container{
    height: 50vh;
    width: 100vw;
     background-color: #819595;
}