/* #landing_row{
    height: 70vh;
    width: 100vw;
    margin: 0;
    background-image: url(/assets/Goddess-Cafe.jpg);
    background-size: cover;
} */

hr{
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.653);
}

.container{
    width: 100vw;    
    margin: 0;

}

#landing{
    margin: 0;
    width: 100vw;
    height: 60vh;
    background-image: url(/assets/Goddess-Cafe.jpg);
    background-size: cover;
    /* background-position-y:; */
    background-color: black;

}

#landing_text_c{
    height: 50%;
    background-color: #DAEFED;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 82px;
    text-align: center;

    color: #000000;

}

.name{
    font-style: normal;
font-weight: 500;
font-size: 90px;
line-height: 135px;
text-align: center;
letter-spacing: 0.02em;

}

.pill{
    padding: 1px;
    margin-right: 1rem;
    margin-top: .5rem;
    background-color: #DAEFED;
    border-radius: 10px;
}
