<div id="landing_row" class="row ">
    
    <div  class="container" style="width: 100%; height: 100%; " >
        <div class="col-5" id="mantra">
            “We’re Here For Growth”
        </div>
       
    </div>

</div>
<div id="philosophy_container" class= "row">
    <div  class="container" style="text-align: center;">
        <div id="title" class="col-6" >
            Philosphy
        </div>
    </div>
    <div class="container" style="text-align: center">
       <div class=" row" >
            <div class="col-2"></div> <!-- Padding -->
            <div id="quote" class="col-8">
                Don’t you see the plants, the birds, 
                the ants and spiders and bees going 
                about their individual tasks, putting 
                the world in order, as best they can? 
                And you’re not willing to do your job 
                as a human being? Why aren’t you running 
                to do what your nature demands? 
                - Marcus Aurelius
            </div>
            <div class="col-2"></div> <!-- Padding -->
       </div>
        
    </div>
    
</div>