<div class="container mx-0">
    <div id="mantra_row" class="row justify-content-center align-items-center">
        <div id="mantra_col" class="col-4 my-col pt-2">    
           “We’re Here For Growth" - Z
        </div>
    </div>
    <div id="philosophy_row"  class="row justify-content-center " >
        <div id="philosophy_col" class="col-9 mt-0">
            <div id="phil_title" class="row justify-content-center">
                Philosophy
            </div>
            <hr>
            <div id="quote" class="row justify-content-center">
                Don’t you see the plants, the birds, 
                the ants and spiders and bees going 
                about their individual tasks, putting 
                the world in order, as best they can? 
                And you’re not willing to do your job 
                as a human being? Why aren’t you running 
                to do what your nature demands? 
                - Marcus Aurelius
            </div>
        </div>
    </div>
    <div id="passions_row" class="row justify-content-center">
        <div id="passions_col "class="col-8 m-0">
            <div id="passions_title" class="row justify-content-center ">
                What I've Been Up To
            </div>
            <hr >

            <div id="udfsa" class="row justify-content-center align-items-center my-3">
                UD Filipino Student Association
            </div>
            <div id="RA" class="row justify-content-center align-items-center my-3">
                UD Resident Assistant
            </div>
        </div>
    </div>
    
    <div id="project_row" class="row  justify-content-center p-0">
        <div id="project_col" class="col-8 m-0" >
            <div id="project_title" class="row justify-content-center ">
                Projects
            </div>
            <hr>
        </div> 
    </div>
    
    <div id="project_container" class="row justify-content-around" >
        <div class="col-1"></div>
        <div class="col-4">
            <div id="shell_proj" class="row  mt-2 justify-content-center align-items-center">
                SHELL
            </div>
        </div>
        <div class="col-4 ">
            <div id="web_proj" class="row  mt-2 justify-content-center align-items-center">
                Website
            </div>
        </div>
        <div class="col-1"></div>

    </div>

   
   
    
    <div id="experience_title_row" class="row  justify-content-center" >
        <div id="experience_title" class="col-3 m-0  ">
           <div class="row justify-content-center">
                Experience
           </div>  
                 <hr>

        </div>
    </div>
    
    <div id="experience_container" class="row justify-content-around" >
        
        <div class="col-1" ></div>
        <div id="left_col" class="col-4" style="height:70%;">
            
           <div class="row mt-3 justify-content-center align-items-center" style=" height: 45%; background: rgba(177, 182, 166, 0.58);">
                Languages
            </div>
            <div class="row mt-3 justify-content-center align-items-center" style=" height: 45%; background: rgba(177, 182, 166, 0.58);">
                Version Control
            </div>
        </div>
        <div id="right col" class="col-4" style="height: 70%;">
            <div class="row mt-3 justify-content-center align-items-center" style=" height: 45%; background: rgba(177, 182, 166, 0.58);">Technology</div>
            <div class="row mt-3 justify-content-center align-items-center" style=" height: 45%; background: rgba(177, 182, 166, 0.58);">RDMS</div>

        </div>
        <div class="col-1" ></div>
    </div>
</div>